{% extends "webapp/base.html" %}

{% block title %}Charities{% endblock %}


{% block stylesheets %}

<style>
.right-side {
 	display: inline-block;
}

.badge-green {
	background-color: #1DC746;
}

</style>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}

{% block content %}
 <div class="charities-template">
 	<center>
		<h1>Charities</h1>
		<p class="lead">Upvote the charity of your choice. You have {{number}} vote(s). <br>Every month, we'll donate to the charity with the most votes. <br>
		<button class="btn" style="background-color: #3487A1; color: #FFFFFF" onClick="window.location.href='/charities/new'">Add New Charity</button>
		</p>
	</center>

	<ul class="list-group">
		{% for charity_object in charities %}
			<li class="list-group-item">
				<b>{{ charity_object.name }} </b>
				<span class="pull-right">
					<span class="badge right-side badge-green">{{ charity_object.votes }}</span>
					<form class="right-side" action="/charities/vote" method="POST">{% csrf_token %}
					    <!-- <input id="submit" type="button" value="Click" /> -->
					    <input type='hidden' value='{{ charity_object.id }}' type="text" name="charity_id">
					    {% if number > 0 %}
					    
					    {% else %}
					    <button type="submit" class="glyphicon glyphicon-chevron-up"></button>
					</form>
			    </span>

			    <div style='display: block;' id='description'>
					{{ charity_object.description }}
				</div>
			</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">

function setColor(val) {
	if(val > 0) {

	}
}

</script>
{% endblock %}