{% extends "webapp/base.html" %}

{% block title %}New Charity Form{% endblock %}

{% block content %}

<div class="new-charity-template">
  <center>
    <h1>Add your favorite charity!</h1>
  </center>

  <form>
    <div class="form-group">
      <label for="email">Charity Name:</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="form-group">
      <label for="des">Description:</label>
      <input type="des" class="form-control input-lg" id="des">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

{% endblock %}